<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>

            <h4 class="modal-title"><span>Forget Password</span></h4>

        </div>

    <div class="modal-body">
        <g:form controller="user" action="changePassword">

            <label for="Number" class="col-xs-3">Validate Number*:</label>
            <input type="text" name="Number" class="form-control col-xs-7 " id="Number" placeholder="Validate Number"
                   style="width:400px">
            <br>
            <br>
<br>
            <label for="email" class="col-xs-3">Email*:</label>
            <input type="text" name="email" class="form-control col-xs-7 " id="email" placeholder="Email"
                   style="width:400px">

            <br>
            <br>
            <br>

            <label for="changePassword" class="col-xs-3">Change Password*:</label>
            <input type="password" name="changePassword" class="form-control col-xs-7 " id="changePassword"
                   placeholder="changePassword"
                   style="width:400px">
            <br>
            <br>
            <br>




            <g:submitButton name="Check" id="Check" controller="user" action="changePassword"/> <span></span>


            </div>
        </g:form>
    </div>
</div>
</div>
