<%@ page import="com.linksharing.Visiblity" %>
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>

            <h4 class="modal-title"><span>Forget Password</span></h4>

        </div>

        <div class="modal-body">
            <g:form controller="user" action="forgetPassword">

                <label for="link" class="col-xs-3">Email*:</label>
                <input type="text" name="email" class="form-control col-xs-7 " id="lik" placeholder="Email"
                       style="width:400px">
                <br>
                <br>
                <g:submitButton name="send" id="Check"  controller="user" action="forgetPassword" /> <span>   </span>
                </div>
            </g:form>
        </div>
    </div>
</div>
