<g:uploadForm class="register-form"  name="register-form" novalidate="novalidate" controller="login" action="register">

    <label class="control-label col-sm-5" style="text-align:left">firstname:</label>

    <div class="col-sm-7">
        <input type="text" class="form-control" id="fName" name="fName">
    </div>

    <br>
    <br>
    <br>

    <label class="control-label col-sm-5" style="text-align:left" for="lName">lastname:</label>

    <div class="col-sm-7">
        <input type="text" class="form-control" id="lName" name="lName">
    </div>
    <br>
    <br>
    <br>


        <label class="control-label col-sm-5" style="text-align:left" for="email">Email:</label>

        <div class="col-sm-7">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
    <br>
    <br>
    <br>

        <label class="control-label col-sm-5" style="text-align:left" for="userName">Username:</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" id="userName" name="userName">

        </div>
    <br>
    <br>
    <br>


        <label class="control-label col-sm-5 " style="text-align:left" for="newpwd">Password:</label>

        <div class="col-sm-7">
            <input type="password" class="form-control" id="newpwd" name="pwd" placeholder="Enter password">
        </div>


    <br>
    <br>
    <br>

        <label class="control-label col-sm-5 " style="text-align:left"
               for="passwd">Confirm Password:</label>

        <div class="col-sm-7">
            <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Enter password">
        </div>
    <br>
    <br>
    <br>



    <div >
        <label class="control-label col-sm-5 " style="text-align:left"
               for="payload">Photo:</label>
    <div class="col-sm-7">
        <input type="file" id="payload" name="payload" >
    </div>
    </div>

    <br>
    <br>
    <br>



        <div class=" col-sm-12">
            <g:submitButton name="Register"/>
        </div>

</g:uploadForm>