<div class="panel panel-default" style="border:1px solid black" id="mysearch">
    <div class="panel panel-heading" style="margin:0px; border:1px solid black ">
        <div>Search for ${searchtopic}</div>
    </div>

    <g:each in="${resourceList1}">

        <div class="panel panel-body" style="-webkit-box-shadow: none">

            <div class="col-xs-4">
                <img src="/images/images.jpeg" alt="Smiley face"
                     style="border:1px solid black" height="120px" width="150px">
            </div>

            <div class="col-xs-8">
                <span class="col-xs-12">${it.createdBy.userName} <span>@${it.createdBy.firstName}</span></span>
                <span class="col-xs-12">
                    <g:if test="${it instanceof com.linksharing.resources.LinkResource}">${it.url}</g:if>
                    <br>
                    <g:if test="${it instanceof com.linksharing.resources.DocumentResource}">${it.filepath}</g:if>
                </span>


                <br>
                <br>
                <br>

                <div class="col-xs-12">
                    <span><img src="/images/images1.png" alt="Smiley face" height="10" width="10"></span>
                    <span><img src="/images/images2.png" alt="Smiley1 face" height="10" width="10">
                    </span>
                    <span><img src="/images/images3.png" alt="Smiley3 face" height="10" width="10">
                    </span>
                    <g:if
                            test="${it instanceof com.linksharing.resources.DocumentResource}"><span><a
                            href="<g:createLink controller="documentResource" action="download"
                                                params="[id: it.id]"></g:createLink>"
                            style="font-size:10px;">Download</a></span>
                    </g:if>
                    <g:if
                            test="${it instanceof com.linksharing.resources.LinkResource}"><span><a href="${it.url}" target="_blank"
                                                                                                    style="font-size:10px;">view fullsite</a>
                    </span>
                    </g:if>

                    <span><ls:checkRead resourceid="${it.id}"
                    ></ls:checkRead></span>
                    <span><a href="<g:createLink controller="resource" action="showresource"
                                                 params="[id: it.id]"></g:createLink>"
                             style="font-size:10px;">view post</a></span>
                </div>
            </div>
        </div>
    </g:each>
    <g:each in="${resourceList2}">

        <div class="panel panel-body" style="-webkit-box-shadow: none">

            <div class="col-xs-4">
                <img src="/images/images.jpeg" alt="Smiley face"
                     style="border:1px solid black" height="120px" width="150px">
            </div>

            <div class="col-xs-8">
                <span class="col-xs-12">${it.createdBy.userName} <span>@${it.createdBy.firstName}</span></span>
                <span class="col-xs-12">
                    <g:if test="${it instanceof com.linksharing.resources.LinkResource}">${it.url}</g:if>
                    <br>
                    <g:if test="${it instanceof com.linksharing.resources.DocumentResource}">${it.filepath}</g:if>
                </span>


                <br>
                <br>
                <br>

                <div class="col-xs-12">
                    <span><img src="/images/images1.png" alt="Smiley face" height="10" width="10"></span>
                    <span><img src="/images/images2.png" alt="Smiley1 face" height="10" width="10">
                    </span>
                    <span><img src="/images/images3.png" alt="Smiley3 face" height="10" width="10">
                    </span>
                    <g:if
                            test="${it instanceof com.linksharing.resources.DocumentResource}"><span><a
                            href="<g:createLink controller="documentResource" action="download"
                                                params="[id: it.id]"></g:createLink>"
                            style="font-size:10px;">Download</a></span>
                    </g:if>
                    <g:if
                            test="${it instanceof com.linksharing.resources.LinkResource}"><span><a href="${it.url}" target="_blank"
                                                                                                    style="font-size:10px;">view fullsite</a>
                    </span>
                    </g:if>

                    <span><ls:checkRead resourceid="${it.id}"
                    ></ls:checkRead></span>
                    <span><a href="<g:createLink controller="resource" action="showresource"
                                                 params="[id: it.id]"></g:createLink>"
                             style="font-size:10px;">view post</a></span>
                </div>
            </div>
        </div>
    </g:each>
    <util:remotePaginate controller="login" action="topicSearching" total="${total}" update="mysearch" params="[search:searchText]"/>
</div>
