
<div class="container1">
<div class="col-xs-6">
    <div class="panel panel-default " style="border:1px solid black ">
        <div class=" panel panel-heading" style=" border:1px solid black;">
            <div class="row"><span class="col-xs-8">Trending Topic</span>

            </div>
        </div>
        <ls:trendingtopic/>

    </div>

    <ls:toppost/>
    </div>
    <div class="col-xs-6" >

        <g:render template="/user/searchtemp" model="[resourceList2:resourceList2]"></g:render>
    </div>
</div>
