

<div class="panel panel-default " style="border:1px solid black ">




    <div class="panel panel-body" style="-webkit-box-shadow: none" >
        <table border="1" style="width:100%">`
            <tr>
                <td style="background: cadetblue; " onclick="ChangeOrder('id')"><strong>Id</strong></td>
                <td style="background: cadetblue; " onclick="ChangeOrder('userName')"><strong>Username</strong></td>
                <td style="background: cadetblue; " onclick="ChangeOrder('email')"><strong>Email</strong></td>
                <td style="background: cadetblue; " onclick="ChangeOrder('firstName')"><strong>FirstName</strong></td>
                <td style="background: cadetblue; " onclick="ChangeOrder('lastName')"><strong>LastName</strong></td>
                <td style="background: cadetblue; " ><strong>Active</strong></td>
                <td style="background: cadetblue; "><strong>Manage</strong></td>

            </tr>
    <g:each in="${userList}">
        <g:if test="${it?.activeField==true}">
        <tr style="background: chartreuse">

            <td>${it.id}</td>

            <td>${it.userName}</td>
            <td>${it.email}</td>
            <td>${it.firstName}</td>
            <td>${it.lastName}</td>
            <td>${it.activeField}</td>
            <g:if test="${it.activeField}">
                <td><input type="checkbox" name="vehicle"  checked id="checkbox${it.id}" onchange="updateuser(${it.id})"></td>
            </g:if>
            <g:if test="${!it.activeField}">
                <td><input type="checkbox" name="vehicle"   id="checkbox${it.id}" onchange="updateuser1(${it.id})"></td>
            </g:if>



        </tr>
    </g:if>
        <g:if test="${it?.activeField!=true}">
            <tr style="background:#cc0000">

                <td>${it.id}</td>

                <td>${it.userName}</td>
                <td>${it.email}</td>
                <td>${it.firstName}</td>
                <td>${it.lastName}</td>
                <td>${it.activeField}</td>
                <g:if test="${it.activeField}">
                    <td><input type="checkbox" name="vehicle"  checked id="checkbox${it.id}" onchange="updateuser(${it.id})"></td>
                </g:if>
                <g:if test="${!it.activeField}">
                    <td><input type="checkbox" name="vehicle"   id="checkbox${it.id}" onchange="updateuser1(${it.id})"></td>
                </g:if>



            </tr>
        </g:if>
    </g:each>
            <g:paginate controller="user" action="displaydatapage"   max="20" total="${count}"/>
            </table>








    </div>


</div>

