<%--
  Created by IntelliJ IDEA.
  User: arun
  Date: 25/2/16
  Time: 11:48 AM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
<div class="form-control" >

    <g:textField name="firstname">firstName</g:textField>
    <g:textField name="lastname">lastname</g:textField>
    <g:passwordField name="password">password</g:passwordField>
    <g:submitButton name="submit"></g:submitButton><\<br>
    <pg:showAdmin isAdmin="true">this is admin</pg:showAdmin>
    <pg:showAdmin isAdmin="false">this is not admin</pg:showAdmin>
    <pg:showUserList/>
</div>


</body>
</html>