<%@ page import="com.linksharing.*" %>


<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>

    <meta name="layout" content="main">
</head>
<body>
<div id="admindata">

<g:render template="/user/showadmindata"/>

</div>

</body>
</html>