<div class="panel panel-default" style="border:1px solid black">
    <div class="panel panel-heading" style="margin:0px; border:1px solid black ">
        <span>Top Post</span>
    </div>


    <g:each in="${ resourcess}">
        <div class="panel panel-body" style="-webkit-box-shadow: none">
            <div class="col-xs-4">
                <a href="<g:createLink controller="topic" action="index" params="[id:it.createdBy.id]"></g:createLink>"> <img src="${grailsApplication.config.grails.serverURL}/user/showPayload/${it.createdBy.id}" alt="Smiley face"
                     style="border:1px solid black" height="80px" width="80px"></a>
            </div>

            <div class="col-xs-8">
            <span class="col-xs-4">${it.createdBy.userName}</span><span class="col-xs-4 text-muted">@${it.createdBy.firstName}</span><a
            class=" col-xs-4 " style="text-align:right" href="<g:createLink controller="topic" action="show"  params="[id:it.topic.id]" ></g:createLink>">${it.topic.name}</a>
        <span class="col-xs-12">${it.description}</span>

                <br>
                <br>
                <br>
        <div class="col-xs-12">
            <span class="col-xs-8">
                <span><img src="/images/images1.png" alt="Smiley face" height="10" width="10">
                </span>
                <span><img src="/images/images2.png" alt="Smiley1 face" height="10"
                           width="10"></span>
                <span><img src="/images/images3.png" alt="Smiley3 face" height="10"
                           width="10"></span>
            </span>
            <g:if test="${session.user}">
                <g:if
                        test="${it instanceof com.linksharing.resources.DocumentResource}"><span><a
                        href="<g:createLink controller="documentResource" action="download"
                                            params="[id: it.id]"></g:createLink>"
                        style="font-size:10px;">Download</a></span>
                </g:if>
                <g:if
                        test="${it instanceof com.linksharing.resources.LinkResource}"><span><a href="${it.url}" target="_blank"
                                                                                                style="font-size:10px;">view fullsite</a>
                </span>
                </g:if>
                <span><ls:checkRead resourceid="${it.id}" sessionuser="${session.user}" /></span>

                <g:if test="${it.createdBy.id== session.user.id}">
                    <span class="glyphicon glyphicon-file "onclick="updateingtopic(${it.topic.id})"></span>
                </g:if>

            </g:if>
            <span><a href="<g:createLink controller="resource" action="showresource" params="[id:it.id]"  ></g:createLink>" style="font-size:10px;">view post</a></span>

        </div>

        </div>
        </div>
    </g:each>


</div>