<%@ page import="com.linksharing.Visiblity" %>
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>

            <h4 class="modal-title"><span>Create Topic(popup)</span></h4>

        </div>

        <div class="modal-body">
            <g:form controller="topic" action="save" method="post" >

                <label for="link" class="col-xs-3">Name*:</label>
                <input type="text" name="topic" class="form-control col-xs-7 " id="lik" placeholder="Name"
                       style="width:400px">
                <br>
                <br>
                <label for="topic" class="col-xs-3">Visiblity:</label>

                <div class="dropdown col-xs-7 " style="width:400px">



                    <g:select name="seriousness" id="visiblity" from="${visiblities}" value="it" ></g:select>

                </div>
               <br>
                <br>
                <br>


                <div>
                    <g:actionSubmit value="Save" /><span>   </span>

                </div>
            </g:form>
        </div>
    </div>
</div>

