<%--
  Created by IntelliJ IDEA.
  User: arun
  Date: 13/3/16
  Time: 10:20 PM
--%>

<%@ page import="com.linksharing.*" %>


<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>

    <meta name="layout" content="main">
    <title>That's a Fail... </title>
</head>


<body>
<h2>Well, that's a fail...</h2>

<p>
    This page doesn't seem to exist anymore, or perhaps it never did. It's tough to say for sure.
    What I do know, however, is that you can find plenty of other great content right over <a href="/"><b>here</b></a>.
</p>
</body>
</html>