<%--
  Created by IntelliJ IDEA.
  User: arun
  Date: 15/3/16
  Time: 3:46 PM
--%>

<%@ page import="com.linksharing.*" %>


<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>

    <meta name="layout" content="main">
    <title>500 internal serrver error </title>
</head>


<body>
<h2>Well, that's a fail...</h2>

<p>
    internal server error <a href="/"><b>here</b></a>.
</p>
</body>
</html>