<%@ page import="com.linksharing.*" %>


<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>

    <meta name="layout" content="main">
</head>

<body>
<div class="panel panel-default " style="border:1px solid black ">
    <div class=" panel panel-heading" style=" border:1px solid black;">
        <div class="row"><span class="col-xs-2">Subscriptions of topic</span>


    </div>
        </div>
        <div class="panel panel-body" style="-webkit-box-shadow: none">
            <table border="2" style="width:100%">
            <tr>
                <td style="background: cadetblue; "><strong>Topic Name</strong></td>
                <td style="background: cadetblue; "><strong>Subscribed user</strong></td>

            </tr>

            <g:each in="${subscriptionList}" >



          <tr>
              <td>${it.topic.name}</td>
              <td>
              <table>
                  <g:each in="${it.topic.subscriptions.user}" var="a">

                      <tr><td>${a.userName}</td></tr>


                  </g:each>
              </table>
              </td>
          </tr>






    </g:each>


    </table>
            </div>
    <g:paginate total="${count}" controller="subscription" action="paginatesubscription" />



</div>

</body>
</html>